<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <div th:replace="fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<th:block layout:fragment="scriptBeforeCreateVue"></th:block>
<div id="vueApp">
    <el-container>
        <div th:replace="fragments/header.html :: fragment-header"></div>
        <el-container>
            <div th:replace="fragments/aside.html :: fragment-aside"></div>
            <el-container>
                <el-main v-loading="loading"
                         element-loading-text="Loading..."
                         element-loading-spinner="el-icon-loading"
                         element-loading-background="rgba(0, 0, 0, 0.8)">
                    <el-row type="flex" class="" v-show="!loading">
                        <el-col :span="12" class="el-main-header">
                            <h2>{{fisheryName}}</h2> <span> {{address}} | {{fishSpecies}}</span>
                        </el-col>
                    </el-row>
                    <el-row type="flex" justify="end" class="el-main-btn-row" v-show="!loading">
                        <el-col :span="3" class="el-main-csv-download-btn">
                            <el-button type="primary">DOWNLOAD as CSV <i class="el-icon-download el-icon-right" onclick="window.open('/mof100/csv');void(0);"></i></el-button>
                        </el-col>
                        <el-col :span="2" class="el-main-pause-btn" v-show="!loading">
                            <el-button onclick="console.log('PAUSE!');void(0);">PAUSE <i class="el-icon-video-pause"></i></el-button>
                        </el-col>
                    </el-row>
                    <el-row type="flex" class="el-main-latest-time-row" v-show="!loading">
                        <el-col :span="6" class="el-main-latest-time">
                            <span id="latest_time"></span>
                        </el-col>
                    </el-row>
                    <el-row class="el-main-chart-row">
                        <div layout:fragment="content"></div>
                    </el-row>
                </el-main>
                <!--
                <span>
                    <form action="/logout" method="post"><input type="submit" value="로그아웃"/></form>
                </span>
                -->
            </el-container>
        </el-container>
        <div th:replace="fragments/footer.html :: fragment-footer"></div>
    </el-container>
</div>
</body>
<script>

    Vue.component("qsol-page-title", {
        props: ["title"],
        template: "<div class='page-title'>{{ title }}</div>"
    })

    if (typeof vueMounted == 'undefined') {
        vueMounted = null;
    }

    let vueApp = new Vue({
        el: '#vueApp',
        data: {
            fisheryName : '',
            address : '',
            fishSpecies : '',
            chart : null,
            options : {
                title: '',
                titleTextStyle: {
                    color: '#45606d',
                    bold: false,
                },
                backgroundColor: "#Fbfbfb",
                hAxis: {
                    title: "TIME"
                },
                vAxis: {
                    // title: "CURRENT"
                },
                curveType: 'function',
                legend: { position: 'right' },
                chartArea:{left:100,top:50,width:'85%',height:'80%'},
                series: {
                    0: { lineWidth: 1 },
                    1: { lineWidth: 1 },
                    2: { lineWidth: 3 },
                    3: { lineWidth: 1 },
                    4: { lineWidth: 1 },
                    5: { lineWidth: 3 }
                },
                colors: ['#80c3ff', '#99e8ff', '#0024cc', '#ff9881', '#ffc0b3', '#e62900'],
                // lineWidth: [1, 1, 20, 1, 1, 20],
            },
            chartData : null,
            xhr : null,
            deviceId : 0,
            createAt : '',
            loading: false,
            isDraw: false,
            open: '',
        },
        methods : {
            handleMenuItemClick: function (deviceId) {
                this.deviceId = deviceId;
                location.href = "/chart/" + deviceId;
                //this.reloadGraph();
                loading = true;
            },
            handleMenuClick: function() {
                location.href = "/home";
            },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            decodeDataForChart(data) {
                let decodedData = data.map(d => {
                    return [d.createAt.format('kk:mm:ss')].concat(d.payload.map(p => {
                        return [p.max, p.min, p.avg]
                    })).flat();
                });
                return decodedData;
            },
            drawChart() {
                var errorCount = 0;
                // this.options.title = title;
                // this.options.subTitle = subTitle;
                this.chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                // this.chart = new google.charts.Line(document.getElementById('curve_chart'));
                (poll = () => {
                    //console.log("errorCount", errorCount);
                    if (errorCount > 100) return false;
                    let url = "/test/data/" + vueApp.deviceId
                    if (vueApp.createAt != '') url += "/" + vueApp.createAt;
                    //console.log("url", url);
                    this.xhr = $.get({
                        url: url,
                        success: (data) => {
                            //console.log("data", data);
                            if(data.length == 0) {
                                vueApp.xhr.abort();
                                throw new Error("조회된 데이터가 없습니다.");
                            }
                            errorCount = 0;
                            data.forEach(d => d.createAt = moment.utc(d.createAt).utcOffset(540))//.tz("Asia/Seoul"));
                            vueApp.createAt = data[10].createAt.format('YYYY-MM-DDTkk:mm:ss.SSS');
                            //console.log("vueApp.createAt", vueApp.createAt);
                            document.getElementById("latest_time").innerHTML = `${data[data.length - 1].createAt.format('MM/DD kk:mm:ss.SSS')} ~ ${data[0].createAt.format('MM/DD kk:mm:ss.SSS')}`
                            // vueApp.options.title = `${data[data.length - 1].createAt.format('MM/DD kk:mm:ss.SSS')} ~ ${data[0].createAt.format('MM/DD kk:mm:ss.SSS')}`;
                            vueApp.chartData = google.visualization.arrayToDataTable(
                                [['time', '진동최대', '진동최소', '진동평균', '전류최대', '전류최소', '전류평균'], ...vueApp.decodeDataForChart(data)]
                            );
                            //vueApp.chart.draw(this.chartData, google.charts.Line.convertOptions(vueApp.options));
                            vueApp.chart.draw(this.chartData, vueApp.options);
                            vueApp.loading = false;
                        }
                        , error: (data) => {
                            //console.error(data);
                            errorCount += 1
                            //console.log("errorCount:", errorCount)
                            if (errorCount > 100) vueApp.xhr.abort()
                            vueApp.loading = false;
                        }
                        , dataType: "json"
                        , complete: poll
                        , timeout: 600000
                    })
                })();
            },
            setMainHeader: function() {
                switch (this.deviceId) {
                    case 1:
                        this.fisheryName = "에코아쿠아팜";
                        this.address = "제주시 구좌읍 행원리 1-39";
                        this.fishSpecies = "넙치 (광어)";
                        break;
                    case 2:
                        this.fisheryName = "조인영어조합법인(1)";
                        this.address = "전북 고창군 심원면 선운대로 2517-8";
                        this.fishSpecies = "어종 : 뱀장어";
                        break;
                    case 3:
                        this.fisheryName = "조인영어조합법인(2)";
                        this.address = "전북 고창군 심원면 선운대로 2517-8";
                        this.fishSpecies = "어종 : 뱀장어";
                        break;
                    case 4:
                        this.fisheryName = "중부수산영어조합법인(1)";
                        this.address = "충북 충주시 금가면 연합강변길 92";
                        this.fishSpecies = "어종 : 뱀장어";
                        break;
                    case 5:
                        this.fisheryName = "중부수산영어조합법인(2)";
                        this.address = "충북 충주시 금가면 연합강변길 92";
                        this.fishSpecies = "어종 : 뱀장어";
                        break;
                    case 6:
                        this.fisheryName = "SG수산";
                        this.address = "부산 기장군 일광면 일광로 307";
                        this.fishSpecies = "어종 : 다양";
                        break;
                }
            }
        },
        mounted: vueMounted,
    })
</script>
</html>