<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <div th:replace="fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<th:block layout:fragment="scriptBeforeCreateVue"></th:block>
<div id="vueApp">
    <el-container>
        <div th:replace="fragments/header.html :: fragment-header"></div>
        <el-container>
            <div th:replace="fragments/aside.html :: fragment-aside"></div>
            <el-container>
                <el-main v-loading="loading"
                         element-loading-text="Loading..."
                         element-loading-spinner="el-icon-loading"
                         element-loading-background="rgba(0, 0, 0, 0.8)">
                    <el-row type="flex" v-show="!loading">
                        <el-col :span="12" class="el-main-header">
                            <h2>{{fmsName}}</h2> <span> {{address}} | {{fishSpecies}}</span>
                        </el-col>
                    </el-row>
                    <el-row class="el-main-hr" v-show="!loading">
                        <el-col :span="24">
                            <hr />
                        </el-col>
                    </el-row>
                    <el-row type="flex" justify="end" class="el-main-btn-row" v-show="!loading">
                        <el-col :span="3" class="el-main-csv-download-btn">
                            <el-button id="csv-download-btn" type="primary" @click="downloadCsv" :loading="downloading" style="margin-right: -10px;">
                                <template v-if="!downloading">
                                    DOWNLOAD as CSV <i class="el-icon-download el-icon-right"></i>
                                </template>
                                <template v-else>
                                    DownLoading...
                                </template>
                            </el-button>
                        </el-col>
                        <el-col :span="2" class="el-main-pause-btn" v-show="!loading">
                            <el-button @click="pauseRead" :loading="pausing">
                                <template v-if="pausing">
                                    PAUSING...
                                </template>
                                <template v-else>
                                    <template v-if="!pause">
                                        PAUSE <i class="el-icon-video-pause"></i>
                                    </template>
                                    <template v-else>
                                        RESTART <i class="el-icon-video-play"></i>
                                    </template>
                                </template>
                            </el-button>
                        </el-col>
                    </el-row>
                    <el-row type="flex" class="el-main-latest-time-row" v-show="!loading">
                        <el-col :span="6" class="el-main-latest-time">
                            <span id="latest_time"></span>
                        </el-col>
                    </el-row>
                    <el-row class="el-main-chart-row">
                        <div layout:fragment="content"></div>
                    </el-row>
                </el-main>
            </el-container>
        </el-container>
        <div th:replace="fragments/footer.html :: fragment-footer"></div>
    </el-container>
</div>
</body>
<script>

    Vue.component("qsol-page-title", {
        props: ["title"],
        template: "<div class='page-title'>{{ title }}</div>"
    })

    if (typeof vueMounted == 'undefined') {
        vueMounted = null;
    }

    let vueApp = new Vue({
        el: '#vueApp',
        data: {
            fmsName : '',
            address : '',
            fishSpecies : '',
            chart : null,
            options : {
                title: '',
                titleTextStyle: {
                    color: '#45606d',
                    bold: false,
                },
                backgroundColor: "#Fbfbfb",
                hAxis: {
                    title: "TIME"
                },
                vAxis: {
                    // title: "CURRENT"
                },
                curveType: 'function',
                legend: { position: 'right' },
                chartArea:{left:100,top:50,width:'85%',height:'80%'},
                series: {
                    0: { lineWidth: 1 },
                    1: { lineWidth: 1 },
                    2: { lineWidth: 3 },
                    3: { lineWidth: 1 },
                    4: { lineWidth: 1 },
                    5: { lineWidth: 3 }
                },
                colors: ['#80c3ff', '#99e8ff', '#0024cc', '#ff9881', '#ffc0b3', '#e62900'],
                // lineWidth: [1, 1, 20, 1, 1, 20],
            },
            chartData : null,
            xhr : null,
            deviceId : 0,
            createAt : '',
            loading: false,
            downloading: false,
            isDraw: false,
            pause: false,
            pausing: false,
            isHaveDatas: false,
        },
        methods : {
            handleMenuItemClick: function (deviceId) {
                this.deviceId = deviceId;
                location.href = "/chart/" + deviceId;
                //this.reloadGraph();
                loading = true;
            },
            handleMenuClick: function() {
                location.href = "/mof100_packets";
            },
            handleOpen(key, keyPath) {
                //console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                //console.log(key, keyPath);
            },
            downloadCsv() {
                console.log("Called downloadCsv()");
                location.replace("/download/csv/" + this.deviceId);
                this.downloading = true;
                setTimeout(function() {
                    vueApp.downloading = false;
                }, 3000);
            },
            decodeDataForChart(data) {
                let decodedData = data.map(d => {
                    return [d.createAt.format('kk:mm:ss')].concat(d.payload.map(p => {
                        return [p.max, p.min, p.avg]
                    })).flat();
                });
                return decodedData;
            },
            drawChart() {
                var errorCount = 0;
                // this.options.title = title;
                // this.options.subTitle = subTitle;
                this.chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                // this.chart = new google.charts.Line(document.getElementById('curve_chart'));
                (poll = () => {
                    vueApp.isHaveDatas = true;
                    //console.log("errorCount", errorCount);
                    if (errorCount > 100) return false;
                    else if (vueApp.pause) return false;
                    // let url = "/test/data/" + vueApp.deviceId // 개발시 사용 코드
                    let url = "/mof100/data/" + vueApp.deviceId
                    // if (vueApp.createAt != '') url += "/" + vueApp.createAt; //개발시 사용 코드
                    this.xhr = $.get({
                        url: url,
                        success: (data) => {
                            //console.log("data", data);
                            if(data.length == 0) {
                                vueApp.xhr.abort();
                                this.openNoDataMessage();
                                vueApp.loading = false;
                                vueApp.isHaveDatas = false;
                                throw new Error("There is no searched data.");
                            }
                            errorCount = 0;
                            data.forEach(d => d.createAt = moment.utc(d.createAt).utcOffset(540))//.tz("Asia/Seoul"));
                            // vueApp.createAt = data[10].createAt.format('YYYY-MM-DDTkk:mm:ss.SSS'); // 개발시 사용 코드
                            document.getElementById("latest_time").innerHTML = `${data[data.length - 1].createAt.format('MM/DD kk:mm:ss.SSS')} ~ ${data[0].createAt.format('MM/DD kk:mm:ss.SSS')}`
                            vueApp.chartData = google.visualization.arrayToDataTable(
                                [['time', '진동최대', '진동최소', '진동평균', '전류최대', '전류최소', '전류평균'], ...vueApp.decodeDataForChart(data)]
                            );
                            //vueApp.chart.draw(this.chartData, google.charts.Line.convertOptions(vueApp.options));
                            vueApp.chart.draw(this.chartData, vueApp.options);
                            vueApp.loading = false;
                            vueApp.pausing = false;
                        }
                        , error: (data) => {
                            console.log("Called error");
                            console.log(data);
                            errorCount += 1
                            //console.log("errorCount:", errorCount)
                            if (errorCount > 100) {
                                vueApp.xhr.abort();
                                vueApp.pause = true;
                            }
                            vueApp.loading = false;
                            vueApp.pausing = false;
                        }
                        , dataType: "json"
                        , complete: poll
                        , timeout: 600000
                    })
                })();
            },
            setMainHeader: function() {
                switch (this.deviceId) {
                    case 1:
                        this.fmsName = "장치1";
                        this.address = "주소1";
                        this.fishSpecies = "업종";
                        break;
                    case 2:
                        this.fmsName = "장치2";
                        this.address = "주소2";
                        this.fishSpecies = "업종";
                        break;
                    case 3:
                        this.fmsName = "장치3";
                        this.address = "주소3";
                        this.fishSpecies = "업종";
                        break;
                    case 4:
                        this.fmsName = "장치4";
                        this.address = "주소4";
                        this.fishSpecies = "업종";
                        break;
                    case 5:
                        this.fmsName = "장치5";
                        this.address = "주소5";
                        this.fishSpecies = "업종";
                        break;
                    case 6:
                        this.fmsName = "장치6";
                        this.address = "주소6";
                        this.fishSpecies = "업종";
                        break;
                }
            },
            menuItemClickEvent: function(id) {
                let menuitem = document.getElementById("chart-menu");
                console.log(menuitem);
                menuitem.classList.add("is-opened");
                menuitem.setAttribute("aria-expanded", "true");
                menuitem.style.backgroundColor = "#d4dde6";
                menuitem.childNodes.item(0).style.pointerEvents = 'none';
                menuitem.childNodes.item(0).style.opacity = 0.7;
                menuitem.childNodes.item(1).style.display = '';

                let itemGroup = document.getElementById("chart-item-group");
                itemGroup.style.display = "";
                let elMenuItem = document.getElementById(id);
                elMenuItem.style.backgroundColor = "#d4dde6";
                elMenuItem.style.opacity = 0.5;
                elMenuItem.style.pointerEvents = "none";
            },
            pauseRead() {
                console.log("Called pause!")
                this.pause = !this.pause;
                if (!this.pause) {
                    console.log("Restart!")
                    google.charts.setOnLoadCallback(this.drawChart);
                } else {
                    this.pausing = true;
                }
            },
            openMessage(msg) {
                this.$message(msg);
            },
            openNoDataMessage() {
                const h = this.$createElement;
                this.$message.error({
                    showClose: true,
                    message: h('p', null, [
                        h('span', {style: 'color: #9b4b4b'}, '조회된'),
                        h('i', {style: 'color: #fb5151'}, "'데이터'"),
                        h('span', {style: 'color: #9b4b4b'}, '가 없습니다.'),
                    ])
                });
            },
        },
        mounted: vueMounted,
    })
</script>
</html>