<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout">

<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<div layout:fragment="content">
    <div id="curve_chart">
        <template v-if="!isHaveDatas" v-show="!loading">
            <h4 style="color: #8a91a8;margin-left: 15px;">
                조회된 데이터가 없습니다.
            </h4>
        </template>
    </div>
</div>

<th:block layout:fragment="scriptBeforeCreateVue">
    <script>
        function vueMounted() {
            this.loading = true;
            this.deviceId = 1;
            this.setMainHeader();
            this.menuItemClickEvent("eco_aqua");
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(this.drawChart);
        };
    </script>
</th:block>

<th:block layout:fragment="scriptAfterCreateVue">
</th:block>

</html>


