<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <div th:replace="fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" href="/css/main.css">
    <style>

    </style>
</head>
<body>
<div id="vueApp">
    <el-container>
        <div th:replace="fragments/header.html :: fragment-header"></div>
        <el-container>
            <div th:replace="fragments/aside.html :: fragment-aside"></div>
            <el-container>
                <el-main v-loading="loading"
                         element-loading-text="Loading..."
                         element-loading-spinner="el-icon-loading"
                         element-loading-background="rgba(0, 0, 0, 0.8)">
                        <el-row type="flex" class="bg-purple-dark" v-show="!loading">
                            <el-col :span="4" class="el-main-header">
                                <h2>{{title}}</h2>
                            </el-col>
                        </el-row>
                        <el-row type="flex" justify="end" class="el-main-btn-row" v-show="!loading">
                            <el-col :span="3" class="el-main-csv-download-btn">
                                <el-button type="primary">DOWNLOAD as CSV <i class="el-icon-download el-icon-right" onclick="window.open('/mof100/csv');void(0);"></i></el-button>
                            </el-col>
                        </el-row>
                        <el-row type="flex" class="el-main-latest-time-row">
                            <el-col :span="6" class="el-main-latest-time">
                                <span id="latest_time"></span>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24" id="table_div">
                            </el-col>
                        </el-row>
                        <!--                    <span>

                            <button onclick="window.open('/mof100/csv');void(0);">다운로드</button>
                        </span>
                        <span>
                            <form action="/logout" method="post"><input type="submit" value="로그아웃"/></form>
                        </span>-->
                </el-main>
            </el-container>
        </el-container>
        <div th:replace="fragments/footer.html :: fragment-footer"></div>
    </el-container>
</div>
</body>
<script>

    Vue.component("qsol-page-title", {
        props: ["title"],
        template: "<div class='page-title'>{{ title }}</div>"
    })

    let vueApp = new Vue({
        el: '#vueApp',
        data: {
            chart : null,
            title : 'MOF100 PACKETS',
            options: {
                title: 'MOF100 PACKETS',
                curveType: 'function',
                legend: { position: 'bottom' },
                chartArea:{left:100,top:50,width:'100%',height:'600%'},
                table: null,
            },
            chartData : null,
            xhr : null,
            loading: false,
            isLeftMenuCollapse: false,
        },
        methods : {
            handleMenuItemClick: function (deviceId) {
                this.deviceId = deviceId;
                location.href = "/chart/" + deviceId;
                // localStorage.setItem("deviceId", el);
                // location.href = "/chart";
            },
            handleMenuClick: function() {
                location.href = "/home";
            },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            decodeDataForTable(data) {
                return data.map(d=> {
                    return [d.createAt.format('kk:mm:ss'), d.deviceId, d.hostAddress, d.sourcePort].concat(d.payload.map(p=>{return [p.max, p.min, p.deviation, p.avg]})).flat()});
            },
            drawTable() {
                var errorCount = 0;
                this.table = new google.visualization.Table(document.getElementById('table_div'));
                (function poll() {
                        console.debug("errorCount", errorCount)
                        if (errorCount > 100) return false;
                        vueApp.xhr = $.get({
                            url: "/mof100/data", success: (data) => {
                                console.log("data", data);
                                errorCount = 0;
                                data.forEach(d => d.createAt = moment.utc(d.createAt).utcOffset(540))//.tz("Asia/Seoul"));
                                document.getElementById("latest_time").innerHTML = `${data[data.length - 1].createAt.format('MM/DD kk:mm:ss.SSS')} - ${data[0].createAt.format('MM/DD kk:mm:ss.SSS')}`
                                const table_data = new google.visualization.DataTable();
                                table_data.addColumn('string', '시간');
                                table_data.addColumn('number', 'deviceId');
                                table_data.addColumn('string', 'ip');
                                table_data.addColumn('number', 'port');
                                table_data.addColumn('number', '진동최대');
                                table_data.addColumn('number', '진동최소');
                                table_data.addColumn('number', '진동편차');
                                table_data.addColumn('number', '진동평균');
                                table_data.addColumn('number', '전류최대');
                                table_data.addColumn('number', '전류최소');
                                table_data.addColumn('number', '전류편차');
                                table_data.addColumn('number', '전류평균');
                                table_data.addRows(vueApp.decodeDataForTable(data));

                                vueApp.table.draw(table_data, {showRowNumber: true, width: '100%'});
                                vueApp.loading = false;
                            }
                            , error: (data) => {
                                console.error(data)
                                errorCount += 1
                                console.log("errorCount:", errorCount)
                                if (errorCount > 100) vueApp.xhr.abort();
                                vueApp.loading = false;
                            }
                            , dataType: "json"
                            , complete: poll
                            , timeout: 600000
                        })
                    }
                )();
            },
        },
        mounted: function() {
            this.loading = true;
            google.charts.load('current', {'packages':['table']});
            google.charts.setOnLoadCallback(this.drawTable);
        }
    })
</script>
</html>