<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <div th:replace="fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <th:block layout:fragment="scriptBeforeCreateVue"></th:block>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var activeLeftMenuIndex = /*[[${activeLeftMenuIndex}]]*/ '1';

        /*]]>*/
    </script>

    <div id="vueApp">
        <el-container>
            <div th:replace="fragments/header.html :: fragment-header"></div>
            <el-container>
                    <div th:replace="fragments/aside.html :: fragment-aside"></div>
                <el-container>
                    <!--<div th:replace="layouts/layout.html :: fragment-main"></div>-->
                    <el-main>


                    </el-main>
                </el-container>
            </el-container>
            <div th:replace="fragments/footer.html :: fragment-footer"></div>
        </el-container>
    </div>
</body>
    <!-- import JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>

        Vue.component("qsol-page-title", {
            props: ["title"],
            template: "<div class='page-title'>{{ title }}</div>"
        })

        let variable = null;

        let commonMethod = {
            handleMenuItemClick: function (el) {
                location.href = el;
            },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
        }

        // let pageMethod = Object.assign(commonMethod, localMethod);
        let pageMethod = Object.assign(commonMethod, localMethod);

        if (typeof vueCreated == 'undefined') {
            vueCreated = null;
        }
        if (typeof vueMounted == 'undefined') {
            vueMounted = null;
        }

        Vue.component("qsol-page-title", {
            props: ["title"],
            template: "<div class='page-title'>{{ title }}</div>"
        })

        let vueApp = new Vue({
            el: '#vueApp',
            data: {
                pageData: {}, //localData,
                activeLeftMenuIndex: activeLeftMenuIndex,
            },
            methods: pageMethod,
            create: vueCreated,
            mounted: vueMounted,
        })
    </script>
    <th:block layout:fragment="scriptAfterCreateVue"></th:block>
</html>