<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout">

<th:block layout:fragment="css">
    <style>

    </style>
</th:block>

<el-main layout:fragment="content">

    <span id="latest_time"></span> <!--<span><button value="새로고침" onclick="window.location.reload()">새로고침</button></span>-->
    <span><button onclick="window.open('/mof100/csv');void(0);">다운로드</button></span>
    <span><button id="btnStop">중지</button></span>

    <div id="curve_chart" style="width: 100%; height: 800px;"></div>

</el-main>

<th:block layout:fragment="scriptBeforeCreateVue">
    <script>
        let localData = {
            chart : null,
            options : {
                title: '조인영어조합법인(1)',
                curveType: 'function',
                legend: { position: 'bottom' },
                chartArea:{left:100,top:50,width:'100%',height:'80%'}
            },
            chartData : null,
            xhr : null,
        }

        let localMethod = {
            handleMenuItemClick: function (el) {
                location.href = el;
            },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            decodeDataForChart(data) {
                return data.map(d=> {
                    return [d.createAt.format('kk:mm:ss')].concat(d.payload.map(p=>{return [p.max, p.min, p.avg]})).flat()
                });
            },
            drawChart() {
                var errorCount = 0;
                this.chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                (poll = () => {
                    console.log("errorCount", errorCount);
                    if (errorCount > 100) return false;
                    this.xhr = $.get({
                        url: "/mof100/data", success: (data) => {
                            console.log("data", data);
                            errorCount = 0;
                            data.forEach(d => d.createAt = moment.utc(d.createAt).utcOffset(540))//.tz("Asia/Seoul"));
                            document.getElementById("latest_time").innerHTML = `${data[data.length - 1].createAt.format('MM/DD kk:mm:ss.SSS')} - ${data[0].createAt.format('MM/DD kk:mm:ss.SSS')}`
                            vueApp.chartData = google.visualization.arrayToDataTable(
                                [['time', '진동최대', '진동최소', '진동평균', '전류최대', '전류최소', '전류평균'], ...vueApp.decodeDataForChart(data)]
                            );
                            vueApp.chart.draw(vueApp.chartData, vueApp.options);
                        }
                        , error: (data) => {
                            console.error(data);
                            errorCount += 1
                            console.log("errorCount:", errorCount)
                            if (errorCount > 100) vueApp.xhr.abort()

                        }
                        , dataType: "json"
                        , complete: poll
                        , timeout: 600000
                    })
                })();
            },
        };

        function vueMounted() {
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(this.drawChart);
        };
    </script>
</th:block>

<th:block layout:fragment="scriptAfterCreateVue">
</th:block>

</html>


